


<p>hi @ViewBag.CurrentUser.FirstName</p>


<a href="/logout">Log Out</a>



<a href="/movies/new">Add new!</a>

<h1>1</h1>
<table class="table table-success table-striped">
  <tr>
    <th>Title</th>
    <th>Release</th>
    <th>Starring</th>
    <th>Posted By</th>
    <th>Likes</th>
    <th>Actions</th> 
  </tr>
  @foreach (Movie movie in ViewBag.AllMovies)
  {
   <tr>
       <td><a href="/movies/@movie.MovieId">@movie.Title</a></td>
       <td>@movie.ReleaseDate.ToString("d")</td>
       <td>@movie.Starring</td>
       <td>@movie.PostedBy.FirstName</td>
       <td>@movie.Likes.Count</td>
       <td>
           @if(ViewBag.CurrentUser.UserId==movie.PostedBy.UserId)
           {
               <form action="/movies/@movie.MovieId/delete" method="post">
               <button class="btn btn-warning">Delete</button>
               </form>
           }
           else if(movie.Likes.Any(like => like.UserId == ViewBag.CurrentUser.UserId))
           {
               <form action="/movies/@movie.MovieId/likes/delete" method="post">
                <button class="btn btn-warning">Unlike</button>
               </form>
           }

           else
           {
               <form action="/movies/@movie.MovieId/likes" method="post">
                <button class="btn btn-warning">Like</button>
               </form>
           }

           

       </td>
   </tr>   
  }
</table>