


<p>hi @ViewBag.CurrentUser.FirstName</p>


<a href="/logout">Log Out</a>



<a href="/events/new">Add new!</a>

<h1>1</h1>
<table class="table table-success table-striped">
  <tr>
    <th>Title</th>
    <th>Date And Time</th>
    <th>Duration</th>
    <th>Cordinated By</th>
    <th>Participants</th>
    <th>Actions</th> 
  </tr>
  @foreach (Event item in ViewBag.AllEvents)
  {
   <tr>
       @* <td><a href="/movies/@movie.MovieId">@item.Activity</a></td> *@
       <td>@item.Date.ToString("d")</td>
       <td><a href="/events/@item.EventId" >@item.Title</a></td>
       <td>@item.Duration</td>
       <td>@item.PostedBy</td>
       <td>@item.Likes.Count</td>
    
       <td>
           @if(ViewBag.CurrentUser.UserId==item.PostedBy.UserId)
           {
               <form action="/events/@item.EventId/delete" method="post">
               <button class="btn btn-warning">Delete</button>
               </form>

           }
           else if(item.Likes.Any(A => A.UserId == ViewBag.CurrentUser.UserId))
           {
               <form action="/events/@item.EventId/likes/delete" method="post">
                <button class="btn btn-warning">UnAttend</button>
               </form>
           }

           else
           {
               <form action="/events/@item.EventId/likes" method="post">
                <button class="btn btn-warning">Attend</button>
               </form>
           } 

           

       </td>
   </tr>   
  }
</table> 