@{
    Event Event = ViewBag.Event;
}
@model Event 
<p>hi @ViewBag.CurrentUser.FirstName</p>



<a href="/dashboard">Dashboard</a>


<a href="/logout">Log Out</a>

<h1>Title: @ViewBag.Event.Title</h1>

<h1>Description: @ViewBag.Description</h1>

<h1>@ViewBag.Event.Duration Hours</h1>

<h1>@ViewBag.Event.Time O-clock</h1>



<h3>
    Participants
</h3>
@foreach (var like in ViewBag.Event.Likes)
{
    <ul>
        <li>@like.UserWhoLikes.FirstName </li>
    </ul>
    
}

       @if(ViewBag.CurrentUser.UserId==Event.PostedBy.UserId)
           {
               <form action="/events/@Event.EventId/delete" method="post">
               <button class="btn btn-warning">Delete</button>
               </form>
           }
           else if(Event.Likes.Any(like => like.UserId == ViewBag.CurrentUser.UserId))
           {
               <form action="/events/@Event.EventId/likes/delete" method="post">
                <button class="btn btn-warning">Unlike</button>
               </form>
           }
           
           
           else
           {
               <form action="/events/@Event.EventId/likes" method="post">
                <button class="btn btn-warning">Like</button>
               </form>
           } 


           

</div>

